.parent{
    display: grid;
    height: 100vh;
}
.enfant{
    margin: auto;
}
.svg_class{
    color: red;
    background-color: red;
    width: 25px;
    border-radius: 100vh;
}
.svg_class path{
    color: white;
}